/**
* Carousel Object
*/

.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1281px) {
    .carousel { max-width: 1200px; }
}

.carousel-item {
    position: absolute;
    z-index: -1;
}

.carousel-item:first-child {
    z-index: 1;
}

.carousel-item-image {
    display: block;
    position: relative;
}

.carousel-item-headline {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 50px;
    background-color: rgba(172,169,162, 0.25);
}

@media (min-width: 1025px) {
    .carousel-item-headline {
        padding: 30px 50px;
    }
}

.carousel-item-headline-title {
    display: block;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.carousel-item-headline-subtitle {
    display: block;
    font-size: 1.25vw;
    color: #ffffff;
    font-weight: bold;
    line-height: 2;
}

.carousel-arrow {
    cursor: pointer;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .3);
	padding: 1.5vw;
	font-size: 2rem;
	position: absolute;
	top: 25vw;
	line-height: 0;
	z-index: 2;
}

@media (min-width: 1281px) {  
	.carousel-arrow {
		top: 45%;
	}
}
  
.carousel-arrow_right { right: 0; }
.carousel-arrow_left { left: 0; }