.carouselItem {
    max-height: 650px;
}

.carouselItem-image { }

 .carouselItem-headline {
     width: 100%;
     position: absolute;
     bottom: 0;
     padding: 50px;
     background-color: rgba(#e2e2e2, 0.15);
 }

 .carsouelItem-headline-title {
     display: block;
     font-size: 1rem;
     color: black;
     font-weight: bold;
 }