.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
    animation: fadeIn 2.5s;
}

@keyframes fadeIn { 0% { opacity:0; } 80% {opacity: 0 } 100% { opacity:1; } }

@media (min-width: 1281px) {  
	.carousel {
        height: 720px;
		max-width: 1080px;
	}
}
  
@media (min-width: 551px) and (max-width: 1280px) {
	.carousel {
        height: 480px;
		max-width: 720px;
	}
}

@media (min-width: 320px) and (max-width: 550px) {
    .carousel {
        height: 320px;
		max-width: 720px;
	}
  }

.carousel-item {
    position: absolute;
    animation: imageTransition 2s;
}

@keyframes imageTransition {
    0% { z-index: -1; opacity: 0;  }
    100% { z-index: 1; opacity: 1; }
}

.carousel-item-image {
    display: block;
    position: relative;
    animation: imageTransition 2s;
}

 .carousel-item-headline {
     width: 100%;
     position: absolute;
     bottom: 0;
     padding: 20px 50px;
     background-color: rgba(0, 0, 0, 0.25);
 }
  
@media (min-width: 1025px) {
    .carousel-item-headline {
        padding: 50px;
	}
}

 .carousel-item-headline-title {
     display: block;
     font-size: 1.25rem;
     color: white;
     font-weight: bold;
 }

 .carousel-item-headline-subtitle {
     display: block;
     font-size: 1rem;
     color: #e2e2e2;
     font-weight: bold;
     line-height: 2;
 }