.heroBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

@media (min-width: 1025px) {
    .heroBlock {
        justify-content: space-around;
        flex-direction: row;
	}
}

.heroBlock + .heroBlock {
    margin-top: 10vw;
    padding-top: 10vw;
    border-top: 1px solid #ACA9A2;
}

.heroBlock-media {
    max-width: 800px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    border: 2px outset #385424;
}

.heroBlock-media > * {
    display: block;
}

.heroBlock-content {
    width: 40vw;
    margin: 5vw;
    text-align: center;
}

.heroBlock-content > * + * {
    margin-top: 1vw;
}

.heroBlock-content-title {
    color: #385424;
    font-size: 3vw;
}

.heroBlock-content-body {
    margin-bottom: 2vw;
}

.heroBlock-content-button {
    display: inline-block;
    padding: 1em 2.5em;
    border: 0px solid #000;
    background-color: #385424;
    font-style: normal;
    letter-spacing: .05em;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: .2em;

    &:hover {
        background-color: #304620;
        color: #ffffff;
    }
}

