.homepage {
    margin: 0 auto;
}

.homepage-carousel {
    margin-bottom: 5vh;
}

@media (min-width: 551px) and (max-width: 1280px) {
	.homepage-carousel {
        margin-bottom: 50px;
    }
}

@media (min-width: 320px) and (max-width: 550px) {
    .homepage-carousel {
        margin-bottom: 25px;
    }
  }