.footer {
    margin: 10vw auto 0;
    padding-top: 15px;
    border-top: 1px solid #ACA9A2;
    background: none;
}

.footer-list {
    width: 15vw;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list-link {
    display: inline-block;
    font-size: 1.75rem;
    color: #385424;

    &:hover {
        color: rgba(15, 100, 2, .95);
    }
}