html {
  background-color: rgba(172,169,162, 0.05);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

a {
  color: #385424;
  text-decoration: none;
}

a:active {
  color: rgba(56,84,36, 0.8);
}