html {
  background-color: #FCFFFC;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #eeeeee;
}